@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digital Thermometer TTI7R UI </h1>
</div>

<div class="row">
    <div class="col-md-4">
      
        <p><a class="btn btn-default" href="">Self Test &raquo;</a></p>
    </div>
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
       
    </div>
</div>