<h2>GetStatus</h2>

@model DigitalThermomterTTI7RInterface.Models.UnitStatus
@{
    ViewBag.Title = "GetStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Digital Thermometer TTI7R UI STATUS </h1>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>@Model.Name</h2>
        <h2>@Model.State</h2>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>